// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.sample{
    // color: dodgerblue;
    font-size: 14px;
    border: 1px solid #ccc;
    padding: 50px;
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
    span{
        display: block;
        color: #505050;
        font-style: italic;
    }
    h4{
        font-weight: 600;
    }
}