// -----------------------------------------------------------------------------
// This file contains all styles related to the Form.
// -----------------------------------------------------------------------------
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/* BUTTONS */
.sbi-button{
    border: none;
    box-shadow: none;
    border-radius: 34px;
    font: $font-semibold;
    width: 180px;
    height: 38px;
    border: 1px solid transparent;
    margin-bottom: 20px;
    cursor: pointer; 
    outline: none;
    transition: .3s;
    &.primary{
        color: #fff;
        background-color: $brand-color;
        &:active,&:focus{
            background-color: $brand-color;
        }
        &:hover{
            background: lighten($brand-color,10%);
        }
    }
    &.outlined{
        color: $brand-color;
        border: 1px solid $brand-color;
        background-color: #fff;
        &:hover{
            color: lighten($brand-color,10%);
            border-color: lighten($brand-color,10%);
        }
    }
    &:disabled,
    &:disabled:hover,
    &[disabled],&[disabled]:hover{
        background-color: $light-grey;
        color: #fff;
        cursor: not-allowed;
    }
    &.noMargin{
      margin-bottom: 0px;
    }
}
.sbi-button-group{
    display: flex;
    align-items: center;
    .sbi-button{
        margin-right: 20px;
        margin-bottom: 0px;
    }

    &.vertical{
        flex-direction: column;
        align-items: center;
        .sbi-button{
            margin: 0px 0px 20px 0px;
        }
    }
    &.space-top{
        margin-top: 40px;
    }
    
}
.sbi-button.outlined.rounded{
  border-radius: 50%;
  height: 56px;
  width: 56px;
}
.sbi-button.primary.rounded{
  border-radius: 50%;
  height: 56px;
  width: 56px;
}
.space-top-40{
  margin-top: 40px;
}
.space-top-30{
  margin-top: 30px;
}
.space-top-20{
  margin-top: 20px;
}
.space-top-10{
  margin-top: 10px;
}

/* Inputs */
.sbi-input-group{
  display: flex;

  &.vertical{
    flex-direction: column;

    .sbi-input-label:last-of-type input{
        margin-bottom: 0px;
      
    }
    input{
      margin-bottom: 30px;
      
    }
  }
}
.sbi-input-label{
    font: $font-regular;
    cursor: pointer;
}
.sbi-input-checkbox{
  display: flex;
    input{
        width: 0px;
        height: 0px;
    }
}

// Checkbox
$md-checkbox-checked-color: rgb(51, 122, 183);
$md-checkbox-border-color: rgba(0, 0, 0, 0.54);
$md-checkbox-border-color-disabled: rgba(0, 0, 0, 0.26);
$md-checkbox-checked-color-disabled: rgba(0, 0, 0, 0.26);

$md-checkbox-margin: 1em 0;
$md-checkbox-size: 1.25em;
$md-checkbox-padding: .25em;
$md-checkbox-border-width: 2px;
$md-checkbox-border-radius: 0.125em;
$md-checkmark-width: 0.125em;
$md-checkmark-color: #fff;
$md-checkbox-label-padding: .75em;

.md-checkbox {
  position: relative;
  z-index: 0;
  margin: $md-checkbox-margin;
  text-align: left;
  margin-left: 30px;
  &.md-checkbox-inline {
    display: inline-block;
  }
  
  label {
    // cursor: pointer;
    // display: inline;
    // line-height: $md-checkbox-size;
    // vertical-align: top;
    // clear: both;
    // padding-left: 1px;
    &:not(:empty) {
      padding-left: $md-checkbox-label-padding;
    }
    
    &:before, &:after {
      content: "";
      position: absolute;
      left: -30px;
      top: 2px;
      z-index: -1;
    }
    
    &:before {
      // box
      width: 16px;
      height: 16px;
      background: #fff;
      border: 1px solid $brand-color;
      border-radius: 1px;
      cursor: pointer;
      transition: background .3s;
    }
  
    // &:after {
    //   // checkmark
    // }    
  }
  
  input[type="checkbox"] {
    outline: 0;
    // visibility: hidden;
    width: 16px;
    margin: 0 10px 0 0;
    display: inline-flex;
    font-size: inherit;
    width: 0px;
    height: 0px;
    margin: 0px;
    position: absolute;
    left: -30px;
    width: 22px;
    height: 22px;
    opacity: 0;
    &:checked {
        + label:before{
            background: $brand-color;
            border:none;
        }
        + label:after {
            transform: translate(3px, 5px) rotate(-45deg);
            width: 10px;
            height: 5px;
            border: 1px solid #fff;
            border-top-style: none;
            border-right-style: none;    
        } 
    }
    
    &:disabled {
      + label:before{
        border-color: $md-checkbox-border-color-disabled;
      }
      &:checked {
        + label:before{
          background: $md-checkbox-checked-color-disabled;
        }
      }
    }
  }
}


// Split input
.sbi-split-input{
  position: relative;
  input{
    border: none;
    margin: 0px;
    font: $font-bold;
    font-size: 18px;  
    letter-spacing: 25.5px;
    width: 220px;
    margin-left: 20px;
    padding-left: 3px;
    outline: none;
    +svg{
      left: 20px;
      position: absolute;
      bottom: 0px;
      width: 100%;
    }
  }
}
// text input

.sbi-input-text{
  position: relative;
  width: 180px;
  input{
    outline: none;
    border: none;
    border-bottom: 1px solid $mid-grey;
    color: $mid-grey;
    padding: 0px 0px 5px 0px;
    line-height: 20px;
    color: $text-color;
    width: 100%;
    &:focus{
      border-color: $text-color;
    }
    &:focus,&.touched,&[value=""]{
      +.placeholder{
      position: absolute;
      top: -16px;
      font-size: 10px;
      color: $mid-grey;
      }
    }
    
    &.dirty:invalid{
      +.placeholder{
        color: red;
        }
    }
    &:focus{
      +.placeholder{
        color: $brand-color;
      }
    }
    &:disabled{
      color: #8a8a96;
    }
  }
  span.placeholder{
    position: absolute;
    top: 0px;
    font-size: 14px;
    left: 0px;
    pointer-events: none;
    transition: .3s;
    line-height: 20px;
    color: $mid-grey;
  }

  &.wide{
    width: 380px;
  }
  &.full{
    width: 100%;
  }
}
/** Password strength **/
.sbi-input-text .strength{
  font-size: 11px;
  margin-bottom: 10px;
  color: #8a8a96;
  }
  .sbi-input-text .strength span{
  margin-left: 5px;
  }
  .sbi-input-text .strength .red{
  color: #f74747;
  }
  .sbi-input-text .strength .yellow{
  color: #ebb73a;
  }
  .sbi-input-text .strength .green{
  color: #26b515;
  } 

.sbi-select-box-main {
  width: 100%;
  /* border-bottom: 1px solid; */
  // margin: 35px 0px 40px 0px;
  position: relative;
}
.sbi-select-box {
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}
.sbi-select-box .sbi-input-label input:disabled{
  color: #2d2d2d;
}
.sbi-select-box .sbi-input-label{
    width: 100%;
    margin: 0;
    pointer-events: none;
}
.sbi-select-box .aero {
    position: absolute;
    right: 0px;
    top: 2px;
}
.sbi-dropdown-select {
  height: 0;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 0 4px 0 rgba(213, 213, 234, 0.5);
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  top: 30px;
  z-index: 99;
  padding: 0;
  list-style-type: none;
  margin: 0;
}
.sbi-dropdown-select.selectOpen {
  height: auto;
  overflow: hidden;
}
.sbi-select-box-item{
  font-size: 15px;
  margin-bottom: 0;
  cursor: pointer;
  padding: 12px 10px;
  color: #2d2d2d;
}



// mobile
@media (max-width: $screen-sm-max) {
.sbi-button-group{
  &.vertical-sm{
      flex-direction: column;

      .sbi-button{
          width: 100%;
          margin: 0px 0px 20px 0px;
          &:last-of-type{
            margin-bottom: 0px;
          }
      }
      a{
        margin: 20px 0px;
      }
  }
}
.sbi-input-group.vertical{
  .sbi-input-text{
     width: 100%;
    }
}
// .sbi-input-label{
//   font-size: 16px;
// }
.sbi-button{
  height: 56px;
  &.full-xs{
    width: 100%;
  }
}
}

@media (min-width: $screen-lg-min) {
  .sbi-button-group{
    &.vertical-lg{
      flex-direction: column;
      .sbi-button{
        margin: 0px 0px 20px 0px;
      }
    }
  }
}